// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.single-question{
	border: 2px solid #a9c1d5;
	background-color: #d4e0ea;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	width: auto;
	opacity: 0.8;
}
.centered{
	text-align: center;
}
.controls textarea{
	width: 100%;
	margin: 10px;
	margin-left: 0px;
}
.controls input, .control-group input{
	margin: 10px;
}

.controls-buttons{
	text-align: center;
}
.alert_correct {
	border: 2px solid green;
}

.alert_incorrect {
	border: 2px solid red;
}